

    .clock{
        background-color:red;
        margin-right: 50%;
        display: block;
        border-radius: 0.2em;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }