

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    #wrapper{
      overflow: auto;
      width: 500px;
    }

    #time,#dateFull{
      background-color: white;
      font-size: 18pt;
      float:right
    }


    @media only screen and (max-width: 1500px){
      #wrapper{
        overflow: auto;
        width: 350px;
        
      }

      #time,#dateFull{
        background-color: white;
        font-size: 12pt;
        float:right
      }
    }

