html {
    overflow: hidden;
}

.container {
    align-items: center;
}


#container_text1 {
    text-align: center;
}

#container_text2 {
    text-align: center;
    color: gainsboro;
}


.wrap-contact3{
    transition:all 0.3s ease;
            
}
.wrap-contact3:hover {
    cursor: pointer;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
   
}






















